html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
  
  width: 200px;
  height: 200px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem; /* 1.125rem is roughly equivalent to 18px, as the base font size is typically set to 16px, and this is a slight increase*/
  background-color: red;
  color: #f7f2f2; 
  text-shadow: 1px 1px 2px black;
  border-radius: 15px; 
  border: 1px solid #920000; 
  background: linear-gradient(to bottom right, transparent, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), inset 3px 3px 3px rgba(255, 255, 255, 0.3), inset -3px -3px 3px rgba(0, 0, 0, 0.3);

}